#img-bg{
  background-image: url('https://images.pexels.com/photos/3771110/pexels-photo-3771110.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
