<div class="parallax p-0"></div>

<h1 id="sobre"></h1>
<br>
<div class="jumbotron fundo1">
  <div class="container-fluid ">
    <div class="row fundo2 margem2">
      <div class="col-md-3 ">
        <!-- <div class=""> -->
        <img class="tm-social3"
          src="https://images.pexels.com/photos/3693914/pexels-photo-3693914.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </div>

      <div class="col-md-9">
        <h2 class="display-4 ">Qual o papel da Diversidade e Inclusão na Tecnologia?</h2>
        <p>Um ambiente de trabalho diversificado é aquele em que há um equilíbrio na distribuição de cargos, em termos
          de gênero, raça, situação social, condição física, faixa etária e nível de escolaridade. </p>
        <p>
          De acordo com a pesquisa CIO 2019, realizada pela KPMG em conjunto com a Harvey Nash, de cada 5 profissionais
          da área de TI, somente 1 é mulher. O estudo também revela que apenas 12% dos postos de chefia do setor são
          ocupados por mulheres.
          <br>
          Já um estudo da Softex concluído em 2017 indica que o salário das mulheres no setor de TI é 11% menor do que o
          dos homens, mesmo em se tratando de ocupação de cargos iguais.
          <br>
          Esses dados são surpreendentes, considerando que mais da metade da população com nível de escolaridade
          superior, que é economicamente ativa, é composta por mulheres, segundo o IBGE.
        </p>
        <p>
          Apenas ter a vontade de aplicar a diversidade e inclusão no setor de TI não é suficiente. Isso porque a infraestrutura e, principalmente, a cultura da empresa precisam ser preparadas para proporcionar as condições adequadas de recebimento das minorias.
        </p>
        <p>
          A diversidade potencializa o lado criativo das equipes de trabalho, já que há o compartilhamento de diferentes pontos de vista, experiências profissionais e de vida.
        </p>

      </div>
    </div>
  </div>
