<div class="parallax p-0"></div>

    <h1 id="sobre"></h1>
    <br>
    <div class="jumbotron fundo1">
        <div class="container-fluid ">
            <div class="row fundo2 margem2">
                <div class="col-md-3 ">
                    <!-- <div class=""> -->
                    <img class="tm-social3" src="https://images.pexels.com/photos/3693914/pexels-photo-3693914.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
                </div>

                <div class="col-md-9">
                    <h2 class="display-4 ">Qual o papel da Diversidade e Inclusão na Tecnologia?</h2>
                    <p>No dia 17 de maio é comemorado o Dia Internacional contra a  Homofobia, Bifobia e Transfobia.  Esta é uma data muito importante, que simboliza a luta dos homossexuais, lésbicas, bissexuais, travestis e transgêneros contra o preconceito, a violação de direitos e, especialmente, a violência a qual essa população está sujeita. </p>
                </div>
            </div>
        </div>
